#game_container{
  width: 610px;
  height: 610px;
  background-color: blue;
  margin: 0 auto;
  border: #999 1px solid;
  padding: 24px;
}

#game_container > div{
  width: 200px;
  height: 200px;
  background-color: grey;
  float: left;
  border: 1px solid lightblue;
  font-size: 150px;
  text-align: center;
}
